<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History <%= username%></title>
</head>
<body>
<table cellpadding="10">
    <% for(var i=0; i < Bookings.length; i++) { %>
    <tr>
        <td><%= Bookings[i].Bid %></td>
        <td><%= Bookings[i].travel_to %></td>
        <td><%= Bookings[i].travel_from %></td>
        <td><form action = "/BookingDetailsInHistory?Booking= <%=Bookings[i].Bid%>" method = "post">
                <input type="submit" name="Details" value="Details" />
            </form>
        </td>
    </tr>
    <tr>

        <% for(var j=0 ; j<data.length;j++) { %>
        <% if (data[j].Bid == Bookings[i].Bid ){%>
        <td><%= data[j].name%></td>
        <td><%= data[j].age%></td>
        <td><%= data[j].id_proof_number %></td>
    </tr>
    <% }%>
    <%}%>
    <%}%>

</table>
</body>
</html>